
<cz-poem-card title="primer poema" image="https://steemitimages.com/0x0/https://cdn.steemitimages.com/DQmQKXjYZDgC47onwiw5ioQFU1Ssym3FXSs9Qhfkr3Ztj3M/superar-el-miedo-e1528344780641%20(1).jpg"></cz-poem-card>
<cz-poem-card title="primer poema" image="https://steemitimages.com/0x0/https://cdn.steemitimages.com/DQmQKXjYZDgC47onwiw5ioQFU1Ssym3FXSs9Qhfkr3Ztj3M/superar-el-miedo-e1528344780641%20(1).jpg"></cz-poem-card>
<cz-poem-card title="primer poema" image="https://steemitimages.com/0x0/https://cdn.steemitimages.com/DQmQKXjYZDgC47onwiw5ioQFU1Ssym3FXSs9Qhfkr3Ztj3M/superar-el-miedo-e1528344780641%20(1).jpg"></cz-poem-card>
<cz-poem-card title="primer poema" image="https://steemitimages.com/0x0/https://cdn.steemitimages.com/DQmQKXjYZDgC47onwiw5ioQFU1Ssym3FXSs9Qhfkr3Ztj3M/superar-el-miedo-e1528344780641%20(1).jpg"></cz-poem-card>
