<div class="new-poem-container">
  <form #poemForm="ngForm">
    <mat-card>
      <mat-card-content>
        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Titulo" name="title" [(ngModel)]="poem.title" required>
          </mat-form-field>
        </div>
        <div>
          <button mat-stroked-button color="primary" (click)="fileInput.click()">Añadir imagen</button>
          <input hidden type="file" #fileInput (change)="previewImage($event)"/>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <textarea matInput required placeholder="Introduce el texto" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2" name="poemText" [(ngModel)]="poem.poemText"></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Etiquetas" name="chips" (change)="chipsKeyPress($event)">
          </mat-form-field>
        </div>
        <div class="button-row">
          <button mat-stroked-button color="primary" (click)="newPoem()">Restablecer</button>
          <button type="submit" mat-raised-button color="primary" class="btn btn-success" (click)="submitForm()" [disabled]="!poemForm.form.valid">Guardar</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
<div class="preview-container">
  <mat-card>
    <mat-card-header>
      Previsualización
    </mat-card-header>
    <mat-content>
      <cz-poem-card [title]="poem.title" [image]="poem.image" [poemText]="poem.poemText" [date]="poem.date.toLocaleDateString()">
        <cz-chip *ngFor="let chip of poem.chips; let i = index" [text]="poem.chips[i]"></cz-chip>
      </cz-poem-card>
    </mat-content>
  </mat-card>

</div>
